services:
  webapplication2:
    build:
      context: ./WebApplication2
      dockerfile: Dockerfile
    container_name: nrl-oppgave-web
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=db;Port=3306;Database=obstaclesdb;User Id=nrl_user;Password=superhemmelig;SslMode=None;
    depends_on:
      - db

  db:
    image: mariadb:11
    container_name: nrl-oppgave-db
    restart: unless-stopped
    environment:
      - MARIADB_DATABASE=obstaclesdb
      - MARIADB_USER=nrl_user
      - MARIADB_PASSWORD=superhemmelig
      - MARIADB_ROOT_PASSWORD=rootpass
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"
volumes:
  mariadb_data:
