@{
    ViewData["Title"] = "Registerfører";
}

<h1>Registerfører-dashboard</h1>

<p>Du er logget inn som <strong>Registerfører</strong>.</p>

<ul>
    <li>Her skal du etter hvert kunne se alle innmeldinger</li>
    <li>Godkjenne / avslå hindere</li>
    <li>Endre og slette hindere</li>
</ul>

<p>
    Dette er en <em>dummy-side</em> for å vise at rolle-innlogging fungerer.
</p>
